.git
.gitignore
.gitattributes
node_modules
npm-debug.log
.DS_Store
.editorconfig
.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.vscode
.idea
*.sql
*.sqlite
.env
.env.local
.env.*.local
vendor/
dist/
build/
.env.testing
.phpunit.result.cache
/coverage
/nbproject
.pytest_cache
*.pyc
__pycache__
